%
% this is the configuration file for rebar
%

{deps, [ {'worker_pool', {git, "https://github.com/inaka/worker_pool.git", {tag , "3.1.0"}}}
       ]}.


{erl_opts, [ debug_info
           , fail_on_warning
           , {i, "../include"}, {i, "./include"}
           , {d, 'NOTEST'}
           ]}.

{profiles, [
    {prod, [{erl_opts, [ no_debug_info
                       , warnings_as_errors
                       , nowarn_unused_function
                       , {d, 'NOTEST'}
                       ]}
           ]},
    {native, [
        {erl_opts, [{native, o3}]}
    ]},
    {test, [
        {erl_opts, [ debug_info
                   , fail_on_warning
                   , {d, 'TEST'}
                   ]},
        {deps, [ {'em', {git, "https://github.com/cypherfox/erlymock.git", {branch, "master"}}}
               , {'recon', {git, "https://github.com/ferd/recon.git", {branch, "master"}}}
               ]},
        {ct_opts, [{config, "test/config/common_test.cfg"}]},
        {cover_enabled, true},
        {eunit_opts, [ verbose
                     , debug_info
                     ]},
    ]}
]}.


%% EDoc options
{edoc_opts, [{dir, "doc/edoc"}]}.



{plugins, [{ rebar3_lint, { git
                          , "https://github.com/timadorus/rebar3_lint"
                          , {branch, "master"}
                          }}]}.

{elvis_output_format, plain}.


